._anchor{
  background-color: #fff;
  border: 0;
  outline: 0;
  font-size: 40px;
  padding: 2px 0 0 6px;
  font-family: monospace;
  box-shadow: 0px 5px 10px #0057ab;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid #d9d9d9;
  position: fixed;
  bottom: 2%;
  right: 20px;
  width: 40px;
  height: 60px;
  @media only screen and(max-width: 420px){
      right: 4px;
  }
}
._anchor:hover {
  box-shadow: 0px 15px 25px -5px #0057ab;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
._anchor:active {
  box-shadow: 0px 4px 8px #0065c8;
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}
