._products-content__overall{
    h2{
        background-color: #959595;
        text-align: center;
        padding: 2% 5%;
        color: linen;
        font-style: italic;
        font-size: 30px;
    }
    h3, h4, h5{
        text-align: center;
        font-style: italic;
        font-family: $lora;
    }
}
