mixin products-content
    main
        +navigator
        +headers("Всі бренди", "Міжкімнатні двері")
        section(class="_products-content__overall")
            +search
            br
            +filters
            p(class="_page-description") Lorem ipsum dolor sit amet. Maxime placeat, facere possimus, omnis voluptas sit. Corporis suscipit laboriosam, nisi ut enim. Itaque earum rerum hic tenetur a sapiente delectus, ut enim. Suscipit laboriosam, nisi ut aut officiis. Vitae dicta sunt, explicabo provident, similique sunt in culpa, qui in. Minima veniam, quis nostrum exercitationem. Maiores alias consequatur aut reiciendis voluptatibus. Suscipit laboriosam, nisi ut aliquid ex ea voluptate velit esse quam. 

            section(class="_producrs-container__overall")
                h4 Міжкімнатні двері
                +pagination
                +pagination-arrows
                +product("doors", "d", "Вензель золота вільха", "00001", "_product_discount")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_none")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00006", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00007", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00008", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00009", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00010", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_none")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_product_discount")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_product_discount")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_none")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00006", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00007", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00008", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00009", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00010", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_none")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_product_discount")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_product_discount")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_none")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00006", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00007", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00008", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00009", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00010", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_none")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_product_discount")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_product_discount")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_none")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00006", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00007", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00008", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00009", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00010", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_none")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_product_discount")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_product_discount")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_none")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00006", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00007", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00008", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00009", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00010", "_none")
                +product("doors", "d", "Вензель золота вільха", "00001", "_none")
                +product("doors", "d", "Рина грей ПГ Gr ПВХ DeLuxe", "00002", "_product_discount")
                +product("doors", "d", "Грета каштан сатин ПВХ", "00003", "_none")
                +product("doors", "d", "Двери Аста золотая ольха", "00004", "_product_discount")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")
                +product("doors", "d", "Сакура золотая ольха ПГ", "00005", "_none")

                
                
                
                
                +pagination-arrows
                +pagination
        +footer("Як нас знайти:")
        +anchor
            
