mixin user_content
    main 
        + navigator
        +headers("UkrDoors", "Ваші данні")
        ._user_overall
            +modal    
            br
            br
            br
            br
            br
            br
        +footer

    
