mixin brand-logo
    section(class="_brand-logo")
        h2 ------------
        h2 Наші партнери
        p Quisquam est, omnis iste natus error sit voluptatem accusantium. Qui earum rerum hic tenetur a sapiente. Animi, id est laborum et iusto odio dignissimos ducimus. Dolorem ipsum, quia voluptas nulla vero. Nemo enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit. Iure reprehenderit, qui dolorem eum iure reprehenderit. Atque corrupti, quos dolores et expedita distinctio praesentium voluptatum deleniti atque corrupti.
        .container    
            .row(class="row_my")
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-1.png" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-2.jfif" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-3.png" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-4.png" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-5.jfif" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-6.png" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-7.png" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-8.png" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-9.png" alt="brand-1")
                        .caption
                div(class="_brand-element col-xs-6 col-sm-3")
                    .thumbnail
                        img(src="img/logo-creator/brand-10.png" alt="brand-1")
                        .caption
                    
