mixin sqproducts
    main
        +navigator
        +headers("Всі бренди", "Вікна")
        section(class="_products-content__overall")
            h4 Пошук та фільтри
            +search
            br
            +filters-windows
            p(class="_page-description") Lorem ipsum dolor sit amet. Maxime placeat, facere possimus, omnis voluptas sit. Corporis suscipit laboriosam, nisi ut enim. Itaque earum rerum hic tenetur a sapiente delectus, ut enim. Suscipit laboriosam, nisi ut aut officiis. Vitae dicta sunt, explicabo provident, similique sunt in culpa, qui in. Minima veniam, quis nostrum exercitationem. Maiores alias consequatur aut reiciendis voluptatibus. Suscipit laboriosam, nisi ut aliquid ex ea voluptate velit esse quam. 
            section(class="_producrs-container__overall")
                h4 Вcі види
                +pagination
                +pagination-arrows
                
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_product_discount")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                +product_exemple("windows", "w", "Gealan S 9000", "01000", "01000", "_none")
                
                +pagination-arrows
                +pagination
        +footer("Як нас знайти:")
        +anchor
                
