mixin search
    ._search
        .topnav
            .search-container
                form(action="action")
                    input(type="text" placeholder="Пошук по сайту..." name="search")
                    button(type="submit")
                        i(class="fa fa-search")
    br                
