mixin contacts
    main
        +navigator
        +headers("UkrDoors", "Інтернет магазин")
        article(class="_about-us")
            h2 Про нас
            ._c-img
                img(src="img/contacts/1.jpg" alt="_about-us")
            ._adress
                p Вінницька обл.
                p м. Калинівка
                p вул. Шевченка 16
                p
                span  Ми в цетнрі міста
                    br
                    |Приміщення соціальної аптеки
            div
                h3 Lorem impus
                p(class="_c-content") Lorem ipsum dolor sit amet. Voluptatem, quia non numquam eius modi tempora incidunt, ut perspiciatis unde. Laborum et molestiae consequatur, vel illum. Ut et expedita distinctio labore et dolorum fuga. Accusamus et expedita distinctio optio cumque. Dolore magnam aliquam quaerat voluptatem accusantium doloremque laudantium totam. Porro quisquam est, qui ratione voluptatem accusantium doloremque laudantium totam. Placeat, facere possimus, omnis iste natus error. Molestias excepturi sint, obcaecati cupiditate non recusandae.Lorem ipsum dolor sit amet. Voluptatem, quia non numquam eius modi tempora incidunt, ut perspiciatis unde. Laborum et molestiae consequatur, vel illum. Ut et expedita distinctio labore et dolorum fuga. 
                br
                p(class="_c-content") Quisquam est, omnis voluptas assumenda est, qui dolorem. Voluptas nulla vero eos et quas molestias excepturi sint, obcaecati cupiditate. Repudiandae sint et accusamus et quas molestias excepturi sint, obcaecati cupiditate. Amet, consectetur, adipisci velit, sed quia consequuntur magni dolores. Aut fugit, sed ut perspiciatis, unde omnis dolor sit amet. Sapiente delectus, ut perspiciatis, unde omnis voluptas sit, aspernatur.Quisquam est, omnis voluptas assumenda est, qui dolorem. Voluptas nulla vero eos et quas molestias excepturi sint, obcaecati cupiditate. Repudiandae sint et accusamus et quas molestias excepturi sint, obcaecati cupiditate. Amet, consectetur, adipisci velit, sed quia consequuntur magni dolores. Aut fugit, sed ut perspiciatis, unde omnis dolor sit amet. Sapiente delectus, ut perspiciatis, unde omnis voluptas sit, aspernatur
                br
                p(class="_c-content") Lorem ipsum dolor sit amet. Voluptatem, quia non numquam eius modi tempora incidunt, ut perspiciatis unde. Laborum et molestiae consequatur, vel illum. Ut et expedita distinctio labore et dolorum fuga. Accusamus et expedita distinctio optio cumque. Dolore magnam aliquam quaerat voluptatem accusantium doloremque laudantium totam. Porro quisquam est, qui ratione voluptatem accusantium doloremque laudantium totam. Placeat, facere possimus, omnis iste natus error. Molestias excepturi sint, obcaecati cupiditate non recusandae.Lorem ipsum dolor sit amet. Voluptatem, quia non numquam eius modi tempora incidunt, ut perspiciatis unde. Laborum et molestiae consequatur, vel illum. Ut et expedita distinctio labore et dolorum fuga. 

            h3 Ми на мапі:    
        
        +footer
