mixin content-main
    h1 ПРО МАГАЗИН
    ._main-product-block  
        div(class="_main-door")
        div(class="_main-content")
                a(href="#")
                    h2 Двері
                p Lorem ipsum dolor sit amet. Necessitatibus saepe eveniet, ut aut odit aut rerum necessitatibus saepe eveniet. Quo voluptas nulla vero eos et iusto odio dignissimos ducimus. Et expedita distinctio ipsa, quae ab illo inventore veritatis. Ex ea commodi autem quibusdam et harum quidem rerum facilis. Omnis voluptas sit, amet, consectetur, adipisci velit, sed. Animi, id est eligendi optio, cumque nihil molestiae consequatur.
                p Lorem ipsum dolor sit amet. Necessitatibus saepe eveniet, ut aut odit aut rerum necessitatibus saepe eveniet. Quo voluptas nulla vero eos et iusto odio dignissimos ducimus. Et expedita distinctio ipsa, quae ab illo inventore veritatis. 
                a(href="#") 
                    span Перейти...
                
    ._main-product-block
        div(class="_main-window _mob")
        div(class="_main-content")
            a(href="#")
                h2 Вікна
            p Lorem ipsum dolor sit amet. Necessitatibus saepe eveniet, ut aut odit aut rerum necessitatibus saepe eveniet. Quo voluptas nulla vero eos et iusto odio dignissimos ducimus. Et expedita distinctio ipsa, quae ab illo inventore veritatis. Ex ea commodi autem quibusdam et harum quidem rerum facilis. Omnis voluptas sit, amet, consectetur, adipisci velit, sed. Animi, id est eligendi optio, cumque nihil molestiae consequatur.
            p Lorem ipsum dolor sit amet. Necessitatibus saepe eveniet, ut aut odit aut rerum necessitatibus saepe eveniet. Quo voluptas nulla vero eos et iusto odio dignissimos ducimus. Et expedita distinctio ipsa, quae ab illo inventore veritatis. Ex ea commodi autem quibusdam et harum quidem rerum facilis.
            p Lorem ipsum dolor sit amet. Necessitatibus saepe eveniet, ut aut odit aut rerum necessitatibus saepe eveniet. Quo voluptas nulla vero eos et iusto odio dignissimos ducimus. Et expedita distinctio ipsa, quae ab illo inventore veritatis. Ex ea commodi autem quibusdam et harum quidem rerum facilis.
            a(href="#") 
                span Перейти...

        div(class="_main-window _desctop")
    ._main-product-block  
        div(class="_main-finding")
        div(class="_main-content")
            a(href="#")
                h2 Фурнітура та ін...
            p Lorem ipsum dolor sit amet. Necessitatibus saepe eveniet, ut aut odit aut rerum necessitatibus saepe eveniet. Quo voluptas nulla vero eos et iusto odio dignissimos ducimus. Et expedita distinctio ipsa, quae ab illo inventore veritatis. Ex ea commodi autem quibusdam et harum quidem rerum facilis. Omnis voluptas sit, amet, consectetur, adipisci velit, sed. Animi, id est eligendi optio, cumque nihil molestiae consequatur.
            p Lorem ipsum dolor sit amet. Necessitatibus saepe eveniet, ut aut odit aut rerum necessitatibus saepe eveniet. Quo voluptas nulla vero eos et iusto odio dignissimos ducimus. 
            a(href="#") 
                span Перейти...
