include head/head
include header/header
include headers/headers
include navigator/navigator
include filters/filters
include exemplar/exemplar



include model_content/model_content
include footer/footer
include anchor/anchor
doctype html
html(lang="zxx")
    head
        +head("ukr.doors.products", "product-model")

    body
        +model_content
            
        script( src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src ="js/bootstrap.js")    
        script(src ="js/libs.min.js")    
        script(src ="js/main.js")    
        script(src ="js/product-model.js")    
