mixin isotop
    ._close-isotop
        .cl-btn-7(id="close-isotop")
    ._isotop-overall
        h1 ISOTOP
        div(data-js="_isotop-hero-demo")
            ._isotop-buttons__container
                ._is-button-block
                    ._is-filters
                        ul(class="nav")
                            li(class="active") 
                                button(class="button " data-filter="*") Показати всі
                            li 
                                button(class="button" data-filter="._is-doors") Двері
                            li 
                                button(class="button" data-filter="._is-windows") Вікна
                            li 
                                button(class="button" data-filter="._is-finding") Фурнітура
                ._is-button-block
                    .sort-by
                        ul(class="nav")
                            li(class="active") 
                                button(class="button" data-sort-by="original-order") Спочатку
                            li 
                                button(class="button" data-sort-by="brand") Виробник
                            li 
                                button(class="button" data-sort-by="discount") Акційні
                            li 
                                button(class="button" data-sort-by="number") По ціні
            ._is-grid
                .element-item(class="_is-doors")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Двері
                                h5(class="brand") Термінус
                                p(class="number") 4000 грн
                                p(class="discount") -10%
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00001
                            ._it-element(class="_it-img")
                                img(src="img/isotop/doors/dv1.jpg" alt="dv1")
                .element-item(class="_is-doors")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Двері
                                h5(class="brand") Термінус
                                p(class="number") 2000 грн
                                p(class="discount") -30%
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00002
                            ._it-element(class="_it-img")
                                img(src="img/isotop/doors/dv1.jpg" alt="dv1")
                .element-item(class="_is-doors")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Двері
                                h5(class="brand") Стиль
                                p(class="number") 1500 грн
                                p(class="discount") -20%
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00002
                            ._it-element(class="_it-img")
                                img(src="img/isotop/doors/dv1.jpg" alt="dv1")
                .element-item(class="_is-doors")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Двері
                                h5(class="brand") Термінус
                                p(class="number") 4000 грн
                                p(class="discount") 
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00002
                            ._it-element(class="_it-img")
                                img(src="img/isotop/doors/dv1.jpg" alt="dv1")
                .element-item(class="_is-doors")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Двері
                                h5(class="brand") Термінус
                                p(class="number") 800 грн
                                p(class="discount") -15%
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00002
                            ._it-element(class="_it-img")
                                img(src="img/isotop/doors/dv1.jpg" alt="dv1")
                .element-item(class="_is-doors")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Двері
                                h5(class="brand") Стиль
                                p(class="number") 1100 грн
                                p(class="discount") 
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00002
                            ._it-element(class="_it-img")
                                img(src="img/isotop/doors/dv1.jpg" alt="dv1")
                .element-item(class="_is-doors")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Двері
                                h5(class="brand") Термінус
                                p(class="number") 2000 грн
                                p(class="discount") -30%
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00002
                            ._it-element(class="_it-img")
                                img(src="img/isotop/doors/dv1.jpg" alt="dv1")
                .element-item(class="_is-doors")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Двері
                                h5(class="brand") Стиль
                                p(class="number") 4000 грн
                                p(class="discount") 
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00002
                            ._it-element(class="_it-img")
                                img(src="img/isotop/doors/dv1.jpg" alt="dv1")
                .element-item(class="_is-windows")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Вікно 
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount")
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00006
                            ._it-element(class="_it-img")
                                img(src="img/isotop/windows/win-min.png" alt="win-main")
                .element-item(class="_is-windows")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Вікно 
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount")
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00006
                            ._it-element(class="_it-img")
                                img(src="img/isotop/windows/win-min.png" alt="win-main")
                .element-item(class="_is-windows")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Вікно 
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount")
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00006
                            ._it-element(class="_it-img")
                                img(src="img/isotop/windows/win-min.png" alt="win-main")
                .element-item(class="_is-windows")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Вікно 
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount")
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00006
                            ._it-element(class="_it-img")
                                img(src="img/isotop/windows/win-min.png" alt="win-main")
                .element-item(class="_is-finding")
                    ._it-container
                        ._it-element
                            h4 Дверна ручка
                            h5(class="brand") Стиль
                            p(class="number") 10 грн
                            p(class="discount") акція
                            p(class="_id-product") 
                                span ID:
                                br
                                span 00001
                        ._it-element(class="_it-img")
                            img(src="img/isotop/finding/1.png" alt="finding")
                        
                .element-item(class="_is-finding")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Дверна ручка
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount") акція
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00001
                            ._it-element(class="_it-img")
                                img(src="img/isotop/finding/3.png" alt="finding")
                .element-item(class="_is-finding")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Дверна ручка
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount") акція
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00001
                            ._it-element(class="_it-img")
                                img(src="img/isotop/finding/3.png" alt="finding")
                .element-item(class="_is-finding")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Дверна ручка
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount") акція
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00001
                            ._it-element(class="_it-img")
                                img(src="img/isotop/finding/2.png" alt="finding")
                .element-item(class="_is-finding")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Дверна ручка
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount") акція
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00001
                            ._it-element(class="_it-img")
                                img(src="img/isotop/finding/1.png" alt="finding")
                .element-item(class="_is-finding")
                    a(href="products.html")
                        ._it-container
                            ._it-element
                                h4 Дверна ручка
                                h5(class="brand") Стиль
                                p(class="number") 10 грн
                                p(class="discount") акція
                                p(class="_id-product") 
                                    span ID:
                                    br
                                    span 00001
                            ._it-element(class="_it-img")
                                img(src="img/isotop/finding/3.png" alt="finding")
                        
