mixin actions 
    ._actions
        ._close-actions
            div
                .cl-btn-7(id="close-actions")
        ._actions-content
            h2 Увага знижка! -30%
            a(href="#")
                h3 Святкова знижка на двері виробника "Новий стиль"!
        ._actions-marquee
            span Наш бегущий текст. Текст, который будет двигаться с права налево
                |  в котором будут описаны детали и подробности, существующих на сегодняшний день акций
                | распродаж и других привиллегий, которые могут быть интересны покупателям!
