mixin header (name, page)
    header(class="_header")
        .container
            div(class="row")
                div(class="site-titles col-lg-6 col-md-6 col-xs-6 col-sm-6")
                    h2= name
                    h1= page
                    h3 металопластикові вікна 
                    h4 та фурнітуру
                    ._discount-buttons
                        div 
                            span(id="_discount") DISCOUNT &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                        div 
                            span(id="_popular")  POPULAR
                div(class="col-lg-3 col-md-3 col-xs-6 col-sm-6 _popular") 
                    h2 Ви не увійшли
                    a(href="#")
                        p(class="font-aldrich font-italic") Вхід
                    a(href="#")
                        p(class="font-aldrich font-italic") Реєстрація
                div(class="_header-cub col-lg-3 col-md-3 hidden-xs hidden-sm")
                    div(class="wrapper")
                        div(class="cub")
                            a(href="#")
                                img(class="size1" src="img/header-cub/1.jpg" alt="1")
                            a(href="#")
                                img(class="size2" src="img/header-cub/2.jpg" alt="2")
                            
                            a(href="#")
                                img(class="size3" src="img/header-cub/3.jpg" alt="3")
                            
                            a(href="#")
                                img(class="size4" src="img/header-cub/4.jpg" alt="4")
                            
                            a(href="#")
                                img(class="size5" src="img/header-cub/5.jpg" alt="5")
                            
                            a(href="#")
                                img(class="size6" src="img/header-cub/6.jpg" alt="6")
                            
        br   
