mixin content
    main
        +navigator()
        +header("Купуйте у нас", "МІЖКІМНАТНІ ТА ВХІДНІ ДВЕРІ")
        +actions
        .content
            +isotop
            +content-main
            +brand-logo
        +footer("І ми:")
    +anchor
                
       
    
            
 
