mixin model_content
    main
        +navigator
        +headers("Двері", "Вензель золота вільха")
        section(class="_product-model")
            h2 Двері Вензель золота вільха 
            +exemplar
        +footer("Ми на мапі: ")
        +anchor        
